html {
	background-color: #000000;
	margin: 0;
	background-image: url("https://skyistumbling.github.io/buildbanner.png");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.app {
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 50px;
	
    width: 40%;
    position: relative;
    margin: auto;
	
    background-color: #14B4B4;
    opacity: 0.81;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.85);

    animation-name: floating1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.app p{
	font-size: 15px;
	text-align: center;
	padding: 0;
	opacity: 1;
}

.app input{
	width: 60%;
	margin: auto;
	opacity: 1;
}

.app button{
	background-color: #0B807C;
	opacity: 1;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	border: 4px solid #0B7672;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	width: 50%;
	margin: auto;
	margin-top: 30px;
}

.anim1{
    animation-name: floating2;
    animation-duration: 4.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.anim2{
    animation-name: floating2;
    animation-duration: 4.45s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    float:left;
}

@keyframes floating1 { 
    0%   {transform:translateY(0px);} 
    50%  {transform:translateY(7px);} 
    100% {transform:translateY(0px); }
} 
@keyframes floating2 { 
    0%   {transform:translateY(0px);} 
    50%  {transform:translateY(4px);} 
    100% {transform:translateY(0px); }
} 
