html {
	background-color: #000000;
	margin: 0;
	background-image: url("https://skyistumbling.github.io/buildbanner.png");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.app {
	padding-top: 300px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
	width: 30%;
	background-color: #14B4B4;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.app p{
	font-size: 15px;
	text-align: center;
	padding: 0;
}

.app input{
	width: 50%;
	margin: auto;
}

.app button{
	background-color: #0B807C;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	border-radius: 5px;
}
